<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"> </th:block>
    <title>Detail Program Studi</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a class="btn btn-primary pull-right" th:href="@{~/prodi/edit/{path}(path=${program.code})}"
                   role="button">Edit Prodi</a>
            </div>
        </div>
        <h3 th:text="${university.code} + ' - ' + ${university.name}">Nama Universitas</h3>
        <h4 th:text="${program.code} + ' - ' + ${program.name}">Nama Prodi</h4>
        <a th:href="${university.url}" th:text="${university.url}" target="_blank">Link</a>
        <br/><br/>
        <a class="btn btn-primary" th:href="@{~/peserta/add/{path}(path=${program.code})}"
           role="button">Tambah Peserta</a>
        <h4>Daftar Peserta</h4>
    </div>
    <table class="table table-bordered" id="table" th:if="${examinees != null}">
        <thead>
        <tr>
            <th>Nomor Peserta</th>
            <th>Nama Peserta</th>
            <th>Menu</th>
        </tr>
        </thead>
        <th:block th:each="examinee,iterationStatus: ${examinees}">
            <tr>
                <td th:text="${examinee.number}">Nomor</td>
                <td th:text="${examinee.name}">Nama</td>
                <td>
                    <a class="btn btn-primary" th:href="@{~/peserta(nomor=${examinee.number})}"
                       role="button">Lihat Detail</a>
                    <a class="btn btn-primary" th:href="@{~/peserta/delete/{path}(path=${examinee.number})}"
                       role="button">Hapus</a>
                </td>
            </tr>
        </th:block>
    </table>
    <br/>
    <div class="alert alert-info" th:if="${youngest != null and oldest != null}">
        <p th:text="'Peserta termuda : ' + ${youngest.name} + ', ' + ${youngest.age} + ' tahun.'"></p>
        <p th:text="'Peserta tertua  : ' + ${oldest.name} + ', ' + ${oldest.age} + ' tahun.'"></p>
    </div>
    <div class="alert alert-info" th:if="${youngest == null or oldest == null}">
       Tidak ada yang mendaftar!
    </div>
    <br/>
</div>
<th:block th:replace="fragments/js :: js"> </th:block>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
</body>

</html>

