<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"> </th:block>
    <title>Detail Universitas</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a class="btn btn-primary pull-right" th:href="@{~/univ/edit/{path}(path=${university.code})}"
                   role="button">Edit Universitas</a>
            </div>
        </div>
        <h3 th:text="${university.code} + ' - ' + ${university.name}">Nama Universitas</h3>
        <a th:href="${university.url}" th:text="${university.url}" target="_blank">Link</a>
        <br/> <br/>
        <a class="btn btn-primary" th:href="@{~/univ/{path}/peserta(path=${university.code})}"
           role="button">Lihat Peserta</a>
        <a class="btn btn-primary" th:href="@{~/prodi/add/{path}(path=${university.code})}"
           role="button">Tambah Prodi</a>
        <h4>Daftar Program Studi</h4>
    </div>
    <table class="table table-bordered" id="table">
        <thead>
        <tr>
            <th>Kode</th>
            <th>Nama</th>
            <th>Menu</th>
        </tr>
        </thead>
        <th:block th:each="studyProgram,iterationStatus: ${studyPrograms}">
            <tr>
                <td th:text="${studyProgram.code}">Kode</td>
                <td th:text="${studyProgram.name}">Nama</td>
                <td>
                    <a class="btn btn-primary" th:href="@{~/prodi(kode=${studyProgram.code})}"
                       role="button">Lihat Detail</a>
                    <a class="btn btn-primary" th:href="@{~/prodi/delete/{path}(path=${studyProgram.code})}"
                       role="button">Hapus</a>
                </td>
            </tr>
        </th:block>
    </table>
    <br/>
</div>
<th:block th:replace="fragments/js :: js"> </th:block>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
</body>

</html>

