<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"> </th:block>
    <title>Daftar Universitas</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a class="btn btn-primary pull-right" th:href="@{~/univ/add}"
                   role="button">Tambah Universitas</a>
            </div>
        </div>
        <h3>Daftar Universitas</h3>
    </div>
    <table class="table table-bordered" id="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Menu</th>
        </tr>
        </thead>
        <th:block th:each="university,iterationStatus: ${universities}">
            <tr>
                <td th:text="${university.code}">ID</td>
                <td th:text="${university.name}">Nama</td>
                <td>
                    <a class="btn btn-primary" th:href="@{~/univ/{path}(path=${university.code})}"
                       role="button">Lihat Detail</a>
                    <a class="btn btn-primary" th:href="@{~/univ/delete/{path}(path=${university.code})}"
                       role="button">Hapus</a>
                </td>
            </tr>
        </th:block>
    </table>
    <br/>
</div>
<th:block th:replace="fragments/js :: js"> </th:block>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>
</body>

</html>

