<th:block th:fragment="js" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.js}"></script>
</th:block>