<nav class="navbar navbar-default" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{~/}">SBMPTN</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{~/}">Home</a></li>
            <li><a th:href="@{~/univ/}">Universitas</a></li>
            <li><a th:href="@{~/peserta/add}">Tambah Peserta</a></li>
        </ul>
    </div>
</nav>