<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"> </th:block>
    <title>Error</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h3 th:text="${title == null} ? 'Error' : ${title}"></h3>
    <hr/>
    <div th:if="${description == null}" class="alert alert-danger">
        Mohon maaf, halaman yang anda cari tidak ditemukan.
    </div>
    <div th:if="${description != null}" class="alert alert-danger">
        <th:block th:text="${description}"> </th:block>
    </div>
</div>
<th:block th:replace="fragments/js :: js"> </th:block>
</body>

</html>

