<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"> </th:block>
    <title>Detail Peserta</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class='page-header'>
        <div class='btn-toolbar pull-right'>
            <div class='btn-group'>
                <a class="btn btn-primary pull-right" th:href="@{~/peserta/edit/{path}(path=${examinee.number})}"
                   role="button">Edit Peserta</a>
            </div>
        </div>
        <h3 th:text="'Detail peserta ' + ${examinee.number}"> </h3>
    </div>
    <table class="table" id="table">
        <tr>
            <td>Nomor</td>
            <td>:</td>
            <td th:text="${examinee.number}"></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td th:text="${examinee.name}"></td>
        </tr>
        <tr>
            <td>Tanggal lahir</td>
            <td>:</td>
            <td th:text="${#dates.format(examinee.birthDate, 'dd MMMM yyyy')}"></td>
        </tr>
        <tr>
            <td>Umur</td>
            <td>:</td>
            <td th:text="${examinee.age} + ' tahun'"></td>
        </tr>
    </table>
</div>
<th:block th:replace="fragments/js :: js"> </th:block>
</body>

</html>

