<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header"> </th:block>
    <title>Hasil Ujian</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h3>Pengumumman SBMPTN</h3>
    <table class="table" id="table">
        <tr>
            <td>Nomor</td>
            <td>:</td>
            <td th:text="${examinee.number}"></td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td th:text="${examinee.name}"></td>
        </tr>
        <tr>
            <td>Tanggal lahir</td>
            <td>:</td>
            <td th:text="${#dates.format(examinee.birthDate, 'dd MMMM yyyy')}"></td>
        </tr>
        <tr>
            <td>Umur</td>
            <td>:</td>
            <td th:text="${examinee.age} + ' tahun'"></td>
        </tr>
    </table>
    <th:block>
        <div th:if="${studyProgram != null and university != null}" class="alert alert-success">
            Selamat Anda lulus seleksi SBMPTN pada prodi
            <a th:href="@{~/univ/{code}(code=${university.code})}"
               th:text="${studyProgram.name + ' '+ university.name}"> </a>
        </div>
        <div  th:if="${studyProgram == null or university == null}" class="alert alert-danger">
            Mohon maaf, Anda belum lulus seleksi SBMPTN.
        </div>
    </th:block>
</div>
<th:block th:replace="fragments/js :: js"> </th:block>
</body>

</html>

